<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <h1>priyatalluri</h1>
        <p><b>python fullstack developer</b></p>

    </header>
    <hr>
    <!-- Navigation bar-->
    <nav>
        <a href="#about">About</a>
        <a href="#skills">Skills</a>
        <a href="Education">Education</a>
        <a href="#project">Project</a>
        <a href="#contact">Contact</a>
    </nav>
    </hr>
    <hr>
    <!-- About Section -->
    <section id="about">
        <h2>About Me</h2>
        <p>I am a passionate Python Full Stack Developer with experience in building web applications using Python,
            Django, and front-end technologies. 
            <mark>Python fullstack developer</mark>
    </section>
</body>
</p>
<p>I love to <i><b>code and solve</b></i> <u>problems</u> </p>
</section>
<hr>
    <!-- <! -- Skills Section -->
 <section id="skills">
    <h2> Skills</h2>
    <ul>
        <li>Python</li>
        <li>Django</li>
        <li>Flask</li>
        <li>Fullstack</li>
        <li>Java</li>

    </ul>

 </section>
</section>
<hr>
<!-- <! --Education -->
<Section id="Education">
    <h2>Education</h2>
    <table>
        
            <th>Degree</th>
            <th>Institute</th>
            <th>Year</th>

        <tr>
            <td>B.Tech </td>
            <td>NRI</td>
            <td>2027</td>

        </tr>
        <th>Intermideat</th>
        <th>college</th>
        <th>year</th>
        <tr>
            <td>MPC</td>
            <td>VIKAS</td>
            <td>2023</td>
        </tr>

       
    </table>
    

</Section>
<hr>
<section id="Projects">
    <h2>Projects</h2>
    <article>AI resume analyzer</article>
    <p>Developed <mark>Fire Detection</mark><mark>fat vehical tracking</mark>
    <mark> AI churn predection</mark>,<mark>ai bug detection</mark>
<mark>spam email detection</mark></p>
</section>
<hr>
<section>
    <h2>Favourite YouTube Videoes</h2>
    <iframe src="https://youtu.be/2kUSr0awubk"></iframe>
</section>
<!-- contact -->
<section id=" contact">
    <h2>Contact</h2>
    <p>Email<a
        href="mailto:ppriyatalluri@gmail.com">Priya@example.com</a>
   </p>
   <p>phone number:123456789</p>
    
</section>


</body>

</html>